<nav>
    <div  class="nav-wrapper">
      <div class="col s12">
        <a  class="breadcrumb bc" (click)="shiftToHome()">Home</a>
        <a  class="breadcrumb bc" (click)="shiftToDepartment()" *ngIf="isDepartmentSelected">{{currentDepartment}}</a>
        <a  class="breadcrumb bc" (click)='shiftToCategory()' *ngIf="isCategorySelected">{{currentCategory}}</a>
        <a  class="breadcrumb bc" (click)='shiftToSubCategory()' *ngIf="issubCategorySelected">{{currentSubCategory}}</a>
      </div>
    </div>
  </nav>